awsebcli==3.9.0
blessed==1.9.5
botocore==1.5.7
cement==2.8.2
colorama==0.3.7
Django>=1.11.19
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
jmespath==0.9.1
pathspec==0.5.0
python-dateutil==2.6.0
PyYAML>=4.2b1
requests>=2.20.0
semantic-version==2.5.0
six==1.10.0
tabulate==0.7.5
wcwidth==0.1.7
websocket-client==0.40.0
